@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: black;

}

body {
    font-family: 'Outfit', sans-serif;
}

header {
    height: 10vh;
    display: flex;
    justify-content: flex-end;
}

ul {
  
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
    margin-right: 5rem;
}

.navbar  a {
    color: rgb(78, 78, 78);
    font-size: 1.5rem;
    padding: .5rem 1rem;
    transition: .25s;
    border-radius: 10px;
}

.navbar  a:hover {
    color: white;
    background-color: rgb(47, 111, 170);
    
}
main {
    width: 100vw;
    height: 80vh;
    overflow: hidden;
}

.scroll {
    width: 300vw;
    display: flex;
    flex-wrap: wrap;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

span {
    color: rgb(47, 111, 170);
}
h1 {
    font-size: 3.5rem;
}

section > h1 {
    margin-bottom: 3rem;
    text-align: center;
}

.foto {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    align-items: center;

}

.texto {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 475px;
    height: 200px
}

p {
    margin-left: 2px;
    text-align: justify;
    font-size: 1.10rem;
}

#perfil {
    border-radius: 100%;
    aspect-ratio: 1 / 1;

}


.icons {
    margin-top: 1rem;
    text-align: right;
}

.icons a {
    margin-left: 10px;
}

i {
    color: rgb(47, 111, 170);
    cursor: pointer;
}

.slide {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.barra {
    width: 80px;
    height: 5px;
    border-radius: 30px;
    background-color: rgba(73, 73, 73, 0.363);
    transition: .5s;
}

#barra1.barra.active {
    background-color: rgba(73, 73, 73, 0.753);
}

#barra2.barra.active{
    background-color: rgba(73, 73, 73, 0.753);
}

#barra3.barra.active{
    background-color: rgba(73, 73, 73, 0.753);
}

.giro {
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#javascript-logo {
    transform: translateY(-90px);
    animation: giroJavascript 3.5s infinite ease-in-out;
}

@keyframes giroJavascript {
    0% {transform: translate3d(0px, -90px, 0px);}
    25%{transform: translate3d(45px, 0px, 0px);}
    50%{transform: translate3d(-45px, 0px, 0px);}
}

#java-logo {
    animation: giroJava 3.5s infinite ease-in-out;
}

@keyframes giroJava {
    0% {transform: translate3d(0px, 0px, 0px);}
    25%{transform: translate3d(45px, -90px, 0px);}
    50%{transform: translate3d(90px, 0px, 0px);}
}

#python-logo {
    animation: giroPython 3.5s infinite ease-in-out;
}

@keyframes giroPython {
    0% {transform: translate3d(0px, 0px, 0px);}
    25%{transform: translate3d(-90px, 0px, 0px);}
    50%{transform: translate3d(-45px, -90px, 0px);}
}

#stack {
    align-items: center;
    justify-content: center;
}

#stack p {
    width: 500px;
    text-align: center;
}

#stack h1 {
    text-align: center;
    font-size: 2rem;
}

#react-logo {
    transform: translateY(-90px);
    animation: giroReact 3.5s infinite ease-in-out;
}

@keyframes giroReact {
    0% {transform: translate3d(0px, -90px, 0px);}
    25%{transform: translate3d(-45px, 0px, 0px);}
    50%{transform: translate3d(45px, 0px, 0px);}
}

#sass-logo {
    animation: giroSass 3.5s infinite ease-in-out;
}

@keyframes giroSass {
    0% {transform: translate3d(0px, 0px, 0px);}
    25%{transform: translate3d(90px, 0px, 0px);}
    50%{transform: translate3d(45px, -90px, 0px);}
}

#bootstrap-logo {
    animation: giroBootstrap 3.5s infinite ease-in-out;
}

@keyframes giroBootstrap {
    0% {transform: translate3d(0px, 0px, 0px);}
    25%{transform: translate3d(-45px, -90px, 0px);}
    50%{transform: translate3d(-90px, 0px, 0px);}
}

.linguagens {
    margin-right: 30rem;
}

.frameworks {
    margin-left: 30rem;
}